<footer>
  <div class="indexfooter">
    <div class="indexfooter-wrapper">
    <div class="indexfooter-logo">
      <a [routerLink]="'/home'" class="footerlogo"
        ><span class="material-symbols-outlined"> sports_gymnastics </span
        ><span class="footerlogo-span">Fitness</span></a
      >
      <p class="indexfooter-p">
        You don't have to be extreme. <span><br />Just consistent.</span>
      </p>
    </div>


    <div class="indexfooter-container">
      <div class="indexfooter-items">
        <div><a class="items-a" href="">Workouts</a></div>
        <div>
          <a style="font-weight: 100" class="items-a" href="">Workout Videos</a>
        </div>
      </div>


      <div class="indexfooter-items">
        <div><a class="items-a" href="">About</a></div>
        <div>
          <a style="font-weight: 100" class="items-a" href="">Contact me</a>
        </div>
        <div>
          <a style="font-weight: 100" class="items-a" href="">About Me</a>
        </div>
      </div>
    </div>
</div>

    <div>
      <div class="indexfooter-copyright">
        <div class="copyright">Copyright &copy; Fitness. All rights reserved.</div>
      </div>
    </div>
  </div>
</footer>
