<section class="main" data-aos="fade-up" data-aos-duration="2000">
  <div class="web-logo">
    <span class="logo">
      <span class="material-symbols-outlined"> sports_gymnastics </span>
      <span class="logo-span">Fitness</span></span
    >
  </div>

  <div class="intro-container">
    <div class="intro-headers">
      <h1 class="intro-h1">STAY FIT.<br />Progress starts with you.</h1>
      <p class="intro-p">
        We have workout tutorials and recipes specialized for your needs.
      </p>
      <div class="login-Btn">
        <button type="button" [routerLink]="'/login'">Login</button>
      </div>
      <div class="noAccount">
        No Account? Sign up <a [routerLink]="'/signup'">here</a>
      </div>
    </div>
    <div class="intro-image">
      <img src="/assets/images/unity-image.png" alt="sports" />
    </div>
  </div>

  <div class="custom-shape-divider-bottom-1671827507">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M741,116.23C291,117.43,0,27.57,0,6V120H1200V6C1200,27.93,1186.4,119.83,741,116.23Z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
</section>
