.intro-page {
  padding-top: 70px;
  height: 100%;

  .intro-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .intro-items {
      width: 40%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .intro-headers {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
      padding: 20px;
      border-radius: var(--border-radius);
      border-color: var(--page-nav-color);

      .intro-h5 {
        color: var(--page-nav-color);
        font-weight: 300;
        font-size: 1.3rem;
        text-transform: uppercase;
        word-spacing: 5px;
        line-height: 1.6;
      }
      .intro-p {
        font-size: 2em;
      }
      .intro-h5-message {
        font-weight: 200;
        font-size: 1.3em;
      }
    }
  }
}

.workout-page {
  height: 100%;
  .workout-cover {
    padding: 3%;
    margin: 2%;
    width: 90vw;
    height: 100%;
    border-style: hidden;
    box-shadow: var(--text-color) 1px 0px 10px;
    border-radius: 10px;

    .workout-header {
      width: fit-content;
      font-size: 1.4em;
      margin-bottom: 70px;
    }
    .workout-container {
      display: flex;
      flex-wrap: none;
      flex-direction: row;
      gap: 20px;
      width: 100%;
      height: 400px;

      .workout-items {
        flex-shrink: 2;
        width: 50%;
        height: 100%;
        background-color: var(--secondary-color);
        border-radius: 20px;
        cursor: pointer;
        .workout-items:hover {
          border-style: solid;
        }

        .workout-items-image {
          object-fit: scale-down;
          width: 100%;
          height: 50%;
        }
        .workout-message {
          line-height: 1;
          width: 90%;
          margin-left: 5%;
          h3 {
            font-size: 1.3em;
            color: var(--text-color);
          }
          h4 {
            color: var(--text-color);
            font-weight: 300;
          }
          p {
            color: var(--page-nav-color);
            font-weight: 300;
          }
          .recommended {
            font-size: 1.3em;
            width: max-content;
            padding: 10px;
            background-color: var(--page-nav-color);
            border-radius: 10px;
            color: var(--other-text-color);
          }
          .material-symbols-outlined {
            font-variation-settings: "FILL" 0, "wght" 500, "GRAD" -25, "opsz" 48;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.select-section {
  height: 30vh;
  // padding: 60px;
  .select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;

    .select-items {
      font-size: 1.3em;

      h2 {
        text-transform: uppercase;
      }
      label {
        padding: 10px;
      }
      select {
        border-radius: var(--border-radius);
        border-color: var(--text-color);
        outline: none;
        height: 30px;
        width: max-content;
        color: var(--primary-color);
        font-weight: bold;
        padding: 5px;
      }
    }
    .select-btn {
      width: 10%;
      height: 50px;
      button {
        border: hidden;
        border-radius: var(--border-radius);
        width: 100%;
        height: 100%;
        background-color: var(--page-nav-color);
        color: var(--other-text-color);
        font-size: 1em;
        transition: 0.6s ease;
        cursor: pointer;
      }
      button:hover {
        background-color: var(--page-nav-hover);
      }
    }
  }
}
